share/CancelPayments.wsdl

<wsdl:definitions name="CancelPayments_OUT" targetNamespace="http://itasca.digitalriver.com/Platforms/Banking" xmlns:p1="http://itasca.digitalriver.com/Platforms/Banking" xmlns:p2="http://itasca.digitalriver.com/ECC/Banking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://itasca.digitalriver.com/ECC/Banking" xmlns="http://itasca.digitalriver.com/ECC/Banking" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Z_FI_FIE0030_CANCEL_PAYMENTS" type="CANC_PAY"/>
      <xsd:complexType name="CANC_PAY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CANCEL_PAYMENTS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="ZTRANKEY">
                  <xsd:annotation>
                    <xsd:documentation>
                              Assignment Number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="18"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZACCTNUM">
                  <xsd:annotation>
                    <xsd:documentation>
                              Account Number of Vendor or Creditor
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZCANCEL_FLAG">
                  <xsd:annotation>
                    <xsd:documentation>
                              Cancel Flag for Vendor
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZGLOBALMSG">
                  <xsd:annotation>
                    <xsd:documentation>
                              Return parameter table
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TYPE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message type: S Success, E Error, W Warning, I Info, A Abort
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ID">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Class
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="NUMBER">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                            <xsd:pattern value="\d+"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Text
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="220"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="LOG_NO">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Application log: log number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="LOG_MSG_NO">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Application log: Internal message serial number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="6"/>
                            <xsd:pattern value="\d+"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V1">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V2">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V3">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V4">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PARAMETER">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Parameter Name
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="32"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Lines in parameter
                                       </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="FIELD">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Field in parameter
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SYSTEM">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Logical system from which message originates
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.Z_FI_FIE0030_CANCEL_PAYMENTS">
    <wsdl:documentation/>
    <wsdl:part element="p2:Z_FI_FIE0030_CANCEL_PAYMENTS" name="Z_FI_FIE0030_CANCEL_PAYMENTS"/>
  </wsdl:message>
  <wsdl:portType name="CancelPayments_OUT">
    <wsdl:documentation/>
    <wsdl:operation name="CancelPayments_OUT">
      <wsdl:documentation/>
      <wsdl:input message="p1:p2.Z_FI_FIE0030_CANCEL_PAYMENTS"/>
      <wsdl:output message="p1:p2.Z_FI_FIE0030_CANCEL_PAYMENTS"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CancelPayments_OUTBinding" type="p1:CancelPayments_OUT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="CancelPayments_OUT">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XI_4959cd85b05d3dc9b0e6bfc8e2ef6aae_Service">
    <wsdl:port binding="p1:CancelPayments_OUTBinding" name="HTTP_Port">
      <soap:address location="http://dc1pidev01.dc1.digitalriver.com:51200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=PLATFORMS_D&amp;receiverParty=&amp;receiverService=&amp;interface=CancelPayments_OUT&amp;interfaceNamespace=http://itasca.digitalriver.com/Platforms/Banking" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port binding="p1:CancelPayments_OUTBinding" name="HTTPS_Port">
      <soap:address location="https://dc1pidev01.dc1.digitalriver.com:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=PLATFORMS_D&amp;receiverParty=&amp;receiverService=&amp;interface=CancelPayments_OUT&amp;interfaceNamespace=http://itasca.digitalriver.com/Platforms/Banking" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
