share/FundsTransfer.wsdl

<wsdl:definitions name="FundsTransfer_OUT" targetNamespace="http://itasca.digitalriver.com/Platforms/Banking" xmlns:p1="http://itasca.digitalriver.com/Platforms/Banking" xmlns:p2="http://itasca.digitalriver.com/ECC/Banking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://itasca.digitalriver.com/ECC/Banking" xmlns="http://itasca.digitalriver.com/ECC/Banking" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZFII0002_FUNDS_TRANSFER" type="FNDS_TRNSFR"/>
      <xsd:complexType name="FNDS_TRNSFR">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="FUNDS_TRANSFER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="ZPLATFORMID">
                  <xsd:annotation>
                    <xsd:documentation>
                              Platform ID
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZSENDERVENDOR">
                  <xsd:annotation>
                    <xsd:documentation>
                              Platform Account ID
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZRECEIVERVENDOR">
                  <xsd:annotation>
                    <xsd:documentation>
                              Platform Account ID
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZDUE_DATE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Baseline Date for Due Date Calculation YYYYMMDD
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:date"/>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZAMOUNT">
                  <xsd:annotation>
                    <xsd:documentation>
                              Amount in Document Currency
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:totalDigits value="15"/>
                      <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZCURRKEY">
                  <xsd:annotation>
                    <xsd:documentation>
                              Currency Key
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZTEXT">
                  <xsd:annotation>
                    <xsd:documentation>
                              Item Text
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZAGGR_VALUE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Amount in Document Currency
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:totalDigits value="15"/>
                      <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZGLOBALMSG">
                  <xsd:annotation>
                    <xsd:documentation>
                              Return parameter table
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TYPE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message type: S Success, E Error, W Warning, I Info, A Abort
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ID">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Class
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="NUMBER">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                            <xsd:pattern value="\d+"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Text
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="220"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="LOG_NO">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Application log: log number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="LOG_MSG_NO">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Application log: Internal message serial number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="6"/>
                            <xsd:pattern value="\d+"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V1">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V2">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V3">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V4">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Message Variable
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PARAMETER">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Parameter Name
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="32"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Lines in parameter
                                       </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="FIELD">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Field in parameter
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SYSTEM">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Logical system from which message originates
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZINIT_VALIDATION_ERR">
            <xsd:annotation>
              <xsd:documentation>
                     Return parameter table
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="TYPE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message type: S Success, E Error, W Warning, I Info, A Abort
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Class
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="NUMBER">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3"/>
                      <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Text
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="220"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="LOG_NO">
                  <xsd:annotation>
                    <xsd:documentation>
                              Application log: log number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="LOG_MSG_NO">
                  <xsd:annotation>
                    <xsd:documentation>
                              Application log: Internal message serial number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6"/>
                      <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V1">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V2">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V3">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V4">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PARAMETER">
                  <xsd:annotation>
                    <xsd:documentation>
                              Parameter Name
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>
                              Lines in parameter
                              </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="FIELD">
                  <xsd:annotation>
                    <xsd:documentation>
                              Field in parameter
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="SYSTEM">
                  <xsd:annotation>
                    <xsd:documentation>
                              Logical system from which message originates
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.ZFII0002_FUNDS_TRANSFER">
    <wsdl:documentation/>
    <wsdl:part element="p2:ZFII0002_FUNDS_TRANSFER" name="ZFII0002_FUNDS_TRANSFER"/>
  </wsdl:message>
  <wsdl:portType name="FundsTransfer_OUT">
    <wsdl:documentation/>
    <wsdl:operation name="FundsTransfer_OUT">
      <wsdl:documentation/>
      <wsdl:input message="p1:p2.ZFII0002_FUNDS_TRANSFER"/>
      <wsdl:output message="p1:p2.ZFII0002_FUNDS_TRANSFER"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FundsTransfer_OUTBinding" type="p1:FundsTransfer_OUT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="FundsTransfer_OUT">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XI_775ca252cdf335298af34ca3a0afa8cc_Service">
    <wsdl:port binding="p1:FundsTransfer_OUTBinding" name="HTTP_Port">
      <soap:address location="http://dc1pidev01.dc1.digitalriver.com:51200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=PLATFORMS_D&amp;receiverParty=&amp;receiverService=&amp;interface=FundsTransfer_OUT&amp;interfaceNamespace=http://itasca.digitalriver.com/Platforms/Banking" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port binding="p1:FundsTransfer_OUTBinding" name="HTTPS_Port">
      <soap:address location="https://dc1pidev01.dc1.digitalriver.com:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=PLATFORMS_D&amp;receiverParty=&amp;receiverService=&amp;interface=FundsTransfer_OUT&amp;interfaceNamespace=http://itasca.digitalriver.com/Platforms/Banking" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
