share/ThirdPartyVendor.wsdl

<wsdl:definitions name="ThirdPartyVendorMaintain_OUT" targetNamespace="http://itasca.digitalriver.com/Platforms/ThirdPartyVendor" xmlns:p1="http://itasca.digitalriver.com/Platforms/ThirdPartyVendor" xmlns:p2="http://itasca.digitalriver.com/ECC/VendorMaintenance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://itasca.digitalriver.com/ECC/VendorMaintenance" xmlns="http://itasca.digitalriver.com/ECC/VendorMaintenance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="TP_VENDOR_MAINTENANCE" type="TP_VENDOR"/>
      <xsd:complexType name="TP_VENDOR">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ZTRANSTYPE">
            <xsd:annotation>
              <xsd:documentation>
                     Transaction Type
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZPLATFORMID">
            <xsd:annotation>
              <xsd:documentation>
                     Platform ID
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZPLATFORMACCT">
            <xsd:annotation>
              <xsd:documentation>
                     Platform Account ID
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZCHECKSUM">
            <xsd:annotation>
              <xsd:documentation>
                     Data Element Type CHAR Length 35
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="VENDOR">
            <xsd:annotation>
              <xsd:documentation>
                     Third Party Vendor
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="ZACCOUNTGROUP">
                  <xsd:annotation>
                    <xsd:documentation>
                              Vendor Account Group
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZCOMPCODE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Company Code
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPURCHORG">
                  <xsd:annotation>
                    <xsd:documentation>
                              Purchasing Organization
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Z3RDPARTYID">
                  <xsd:annotation>
                    <xsd:documentation>
                              Platform Account ID - platform client ID or site ID etc
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Z3RDPARTYNAME">
                  <xsd:annotation>
                    <xsd:documentation>
                              Company Name
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZSTREET">
                  <xsd:annotation>
                    <xsd:documentation>
                              Street Address
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="60"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZOTHERADDR01">
                  <xsd:annotation>
                    <xsd:documentation>
                              Other Address (Suite, Building etc)
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPOBOX">
                  <xsd:annotation>
                    <xsd:documentation>
                              PO Box No
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZCITY">
                  <xsd:annotation>
                    <xsd:documentation>
                              City
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZCOUNTRY">
                  <xsd:annotation>
                    <xsd:documentation>
                              Country
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZREGION">
                  <xsd:annotation>
                    <xsd:documentation>
                              Region / State
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPOSTALCODE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Postal / Zip Code
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZMAINEMAIL">
                  <xsd:annotation>
                    <xsd:documentation>
                              Main Email Address (not necessarily the same as the Paypal email address)
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="241"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZTIN">
                  <xsd:annotation>
                    <xsd:documentation>
                              Tax Number at Responsible Tax Authority
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="18"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPAYCONTACT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>
                              Payable Contact Name
                              </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPAYCURR">
                  <xsd:annotation>
                    <xsd:documentation>
                              Payment Currency
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPAYMETHOD">
                  <xsd:annotation>
                    <xsd:documentation>
                              Payment Method
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZEPASSPORT_WEBMONEY">
                  <xsd:annotation>
                    <xsd:documentation>
                              Retailer ID
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="130"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPAYTERMS">
                  <xsd:annotation>
                    <xsd:documentation>
                              Payment Terms
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZPAYTHRESHOLD">
                  <xsd:annotation>
                    <xsd:documentation>
                              Minimum Payment Threshold in Vendor Currency
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ZSKIPCHKRUN">
                  <xsd:annotation>
                    <xsd:documentation>
                              Block key for payment
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="BANK">
                  <xsd:annotation>
                    <xsd:documentation>
                              Regular Bank Info
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="ZBANKACCTHOLDER">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Account Holder Name
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZIBAN">
                        <xsd:annotation>
                          <xsd:documentation>
                                       IBAN (International Bank Account Number)
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="34"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZACCTNUM">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Data Element Type CHAR Length 35
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZSWIFT">
                        <xsd:annotation>
                          <xsd:documentation>
                                       SWIFT Code for International Payments
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="11"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZROUTING">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Bank number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="15"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZSORTCODE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Bank number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="15"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKNAME">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Name of bank
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKADDR01">
                        <xsd:annotation>
                          <xsd:documentation>
                                       House number and street
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKADDR02">
                        <xsd:annotation>
                          <xsd:documentation>
                                       House number and street
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKCITY">
                        <xsd:annotation>
                          <xsd:documentation>
                                       City
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKREGION">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Region (State, Province, County)
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKPOSTCODE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       City postal code
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKCOUNTRY">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Country Key
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKCOMMENT">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Bank Comment
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="70"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="INTER_BANK">
                  <xsd:annotation>
                    <xsd:documentation>
                              Intermediary Bank Info
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="ZSWIFT">
                        <xsd:annotation>
                          <xsd:documentation>
                                       SWIFT Code for International Payments
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="11"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZROUTING">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Bank number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="15"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZSORTCODE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Bank number
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="15"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKNAME">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Name of bank
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKADDR01">
                        <xsd:annotation>
                          <xsd:documentation>
                                       House number and street
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKADDR02">
                        <xsd:annotation>
                          <xsd:documentation>
                                       House number and street
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKCITY">
                        <xsd:annotation>
                          <xsd:documentation>
                                       City
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKREGION">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Region (State, Province, County)
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKPOSTCODE">
                        <xsd:annotation>
                          <xsd:documentation>
                                       City postal code
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ZBANKCOUNTRY">
                        <xsd:annotation>
                          <xsd:documentation>
                                       Country Key
                                       </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZGLOBALMSG">
            <xsd:annotation>
              <xsd:documentation>
                     Return parameter table
                     </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="TYPE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message type: S Success, E Error, W Warning, I Info, A Abort
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Class
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="NUMBER">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3"/>
                      <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Text
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="220"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="LOG_NO">
                  <xsd:annotation>
                    <xsd:documentation>
                              Application log: log number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="LOG_MSG_NO">
                  <xsd:annotation>
                    <xsd:documentation>
                              Application log: Internal message serial number
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6"/>
                      <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V1">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V2">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V3">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE_V4">
                  <xsd:annotation>
                    <xsd:documentation>
                              Message Variable
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PARAMETER">
                  <xsd:annotation>
                    <xsd:documentation>
                              Parameter Name
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>
                              Lines in parameter
                              </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="FIELD">
                  <xsd:annotation>
                    <xsd:documentation>
                              Field in parameter
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="SYSTEM">
                  <xsd:annotation>
                    <xsd:documentation>
                              Logical system from which message originates
                              </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.TP_VENDOR_MAINTENANCE">
    <wsdl:documentation/>
    <wsdl:part element="p2:TP_VENDOR_MAINTENANCE" name="TP_VENDOR_MAINTENANCE"/>
  </wsdl:message>
  <wsdl:portType name="ThirdPartyVendorMaintain_OUT">
    <wsdl:documentation/>
    <wsdl:operation name="ThirdPartyVendorMaintain_OUT">
      <wsdl:documentation/>
      <wsdl:input message="p1:p2.TP_VENDOR_MAINTENANCE"/>
      <wsdl:output message="p1:p2.TP_VENDOR_MAINTENANCE"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ThirdPartyVendorMaintain_OUTBinding" type="p1:ThirdPartyVendorMaintain_OUT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="ThirdPartyVendorMaintain_OUT">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XI_dc501630c8bb3a9f9732f67334354390_Service">
    <wsdl:port binding="p1:ThirdPartyVendorMaintain_OUTBinding" name="HTTP_Port">
      <soap:address location="http://dc1pidev01.dc1.digitalriver.com:51200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=PLATFORMS_D&amp;receiverParty=&amp;receiverService=&amp;interface=ThirdPartyVendorMaintain_OUT&amp;interfaceNamespace=http://itasca.digitalriver.com/Platforms/ThirdPartyVendor" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port binding="p1:ThirdPartyVendorMaintain_OUTBinding" name="HTTPS_Port">
      <soap:address location="https://dc1pidev01.dc1.digitalriver.com:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=PLATFORMS_D&amp;receiverParty=&amp;receiverService=&amp;interface=ThirdPartyVendorMaintain_OUT&amp;interfaceNamespace=http://itasca.digitalriver.com/Platforms/ThirdPartyVendor" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
